@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

$main-font-family: 'Karla', sans-serif;;
$main-font-size: 16px;

$headings-font-family: 'DM Serif Display', serif;
