.footer {
    width: 100%;
    background-color: $footer-background;

    &__container {
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }

    &__wrapper {
        width: 100%;
        margin: 0 auto;

        hr {
            width: 70%;
            color: $main-background;
            margin: 0 auto;
        }
    }
}

.footer__header {
    width: 100%;
    @extend %flex-column-center;
    background-image: url("./../images/bg-pattern-footer-mobile.svg");

    padding: 5rem 0 2rem 0;
}

.social {
    margin-top: 2rem;

    ul {
        display: flex;
        align-items: center;

        li+li {
            margin-left: 1.2rem;
        }
    }
}

.social__links:hover svg path {
    fill: $secondary-background;

    transition: all 0.75s;
}

.footer__links {
    width: 100%;
    @extend %flex-column-center;

    padding: 3rem 0 4rem 0;
}

.card__links {
    width: 88%;
    @extend %flex-column-center;


    h4 {
        text-transform: uppercase;
        color: $color-heading-footer;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}

.card__links+.card__links {
    margin-top: 2rem;
}

.links ul li {
    margin-bottom: 1rem;
}

.links ul li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-background;
    font-weight: 700;
}

@media #{$breakpoint} {
    .footer__container {
        background: {
            image: url("./../images/bg-pattern-footer-desktop.svg");
            repeat: no-repeat;
        }
    }

    .footer__wrapper {
        width: 90%;

        hr {
            width: 100%;
        }
    }

    .footer__header {
        background-image: none;
        flex-direction: row;
        justify-content: space-between;

        img {
            margin: 0;
        }
    }

    .social {
        margin: 0;
    }

    .footer__links {
        flex-direction: row;
        align-items: flex-start;
        padding-top: 2rem;
    }

    .card__links+.card__links {
        margin: 0;
    }
}