.header {
    width: 100%;
    height: 80px;

    position: relative;
    left: 0;
    top: 0;
    right: 0;

    z-index: 900;

    background-color: #fff;

    @extend %flex-center;

    &__container {
        width: 100%;
        max-width: $max-width;

        margin: 0 auto;

        @extend %flex-center;
    }

    &__wrapper {
        width: 100%;
        padding: 0 2rem;

        @include flexbox($justify-content: space-between);

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: 0;
        }
    }
}

.navbar {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;

    position: absolute;
    right: -100%;
    top: 80px;

    z-index: 1000;

    background: {
        color: $secondary-background;
        image: url("./../images/bg-pattern-mobile-nav.svg");
        position: bottom;
        repeat: repeat-x;
    }

    padding-top: 1.2rem;

    ul {
        width: 100%;
    }
}

.navlink {
    display: block;
    width: 88%;
    text-align: center;
    text-transform: uppercase;
    font: {
        size: 1.2rem;
        weight: 400;
    };
    color: $main-color;
    margin: 0 auto;
    padding: 1.2rem;
}

.navbar-active {
    right: 0;
    transition: right 0.3s linear;
    @include flexbox($align-items: flex-start);

    ul {
        height: 320px;
    }
}

@media #{$breakpoint} {
    .header__wrapper {
        width: 90%;
        padding: 0;

        button {
            display: none;
        }
    }

    .navbar {
        width: auto;
        height: auto;
        position: relative;
        top: 0;
        right: 0;
        
        background: none;

        padding: 0;

        ul {
            @include flexbox();
        }
    }

    .navlink {
        width: 100%;
        display: inline-block;
        color: $color-heading-footer;
        padding: 0.6rem 1rem;
        font: {
            size: 1rem;
            weight: 700;
        }
    }

    .navbar ul li:last-child .navlink {
        border: 2px solid $main-background;
        color: $main-background;

        padding: 0.6rem 1.6rem;
    }
}