.introduction {
    width: 100%;

    background-color: $main-background;

    &__container {
        width: 100%;
        max-width: $max-width;

        margin: 0 auto;

        position: relative;
    }

    &__wrapper {
        @extend %flex-column-center;
        width: 100%;
        margin: 0 auto;
    }
}

.introduction-text {
    @extend %flex-column-center;

    position: relative;

    .main-hr {
        display: none;
    }

    .headings {
        width: 88%;
        text-align: center;
        color: $main-color;
        margin-top: 3.4rem;
    }

    .paragraph {
        width: 88%;
        color: $main-color;
        margin: 1rem 0 1.6rem 0;
    }
}

.bg-pattern-intro-left-mobile {
    position: absolute;
    left: 0;
    top: 0;
}

.bg-pattern-intro-right-mobile {
    position: absolute;
    right: 0;
    bottom: -180px;
}

.bg-pattern-intro-right-desktop, .bg-pattern-intro-left-desktop {
    display: none;
}

.img-intro-mobile {
    max-width: 100%;
}

.img-intro-desktop {
    display: none;
}

@media #{$breakpoint} { 
    .introduction__wrapper {
        width: 90%;
        flex-direction: row-reverse;
    }

    .img-intro-mobile {
        display: none;
    }
    
    .img-intro-desktop {
        display: block;
        position: relative;
        top: 97px;
    }

    .introduction-text {
        align-items: flex-start;
        
        .main-hr {
            display: initial;
        }

        .headings {
            text-align: left;
            margin-top: 2rem;
        }
    }

    .bg-pattern-intro-left-mobile, .bg-pattern-intro-right-mobile {
        display: none;
    }
    
    .bg-pattern-intro-right-desktop, .bg-pattern-intro-left-desktop {
        display: initial;
    }

    .bg-pattern-intro-right-desktop {
        position: absolute;
        right: 0;
        top: 0;
    }

    .bg-pattern-intro-left-desktop {
        position: absolute;
        left: 0;
        bottom: -333px;
    }
}