.main-content {
    width: 100%;

    &__intro {
        width: 100%;
        max-width: 1440px;
        margin: 5rem auto;

        h2 {
            font-size: 2.8rem;
        }
    }
}

.find__wrapper {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto 5rem auto;
}

.find__card {
    width: 88%;
    background: {
        color: $main-background;
        image: url("./../images/bg-pattern-how-we-work-mobile.svg");
        repeat: no-repeat;
        position: top right;
    };
    @extend %flex-column-center;
    margin: 0 auto;

    h2 {
        width: 88%;
        font-size: 2.4rem;
        text-align: center;
        color: $main-color;
        margin: 4rem 0 1rem 0;
    }
}


.intro__wrapper {
    width: 100%;
    margin: 0 auto;

    @extend %flex-column-center;
}

.heading-container {
    @extend %flex-column-center;
}

.card-container {
    @extend %flex-column-center;
}

.card {
    width: 88%;
    @extend %flex-column-center;
    margin-top: 2.6rem;

    &__img {
        margin-bottom: 2rem;
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }

    p {
        width: 100%;
        text-align: center;
    }
}

@media #{$breakpoint} {
    .main-content__intro {
        margin: 15rem auto 10rem auto;
    }

    .intro__wrapper {
        width: 90%;
        align-items: flex-start;
    }

    .heading-container {
        align-items: flex-start;

        .headings {
            font-size: 4rem;
        }
    }

    .card-container {
        flex-direction: row;
    }

    .card {
        align-items: flex-start;

        p {
            text-align: left;
        }
    }

    .card+.card {
        margin-left: 1rem;
    }

    .find__card {
        width: 90%;
        background: {
            image: url("./../images/bg-pattern-how-we-work-desktop.svg");
            position: right;
            size: contain;
        };
        flex-direction: row;
        justify-content: space-around;

        padding: 4rem 0;

        .headings {
            margin: 0;
            text-align: left;
            width: 50%;
            font-size: 4rem;
        }

        .button {
            margin: 0;
        }
    }
}