.is-button-light:hover {
    background-color: $main-color;
    color: $main-background;

    transition: all 0.75s;
}

.is-navlink:hover {
    text-transform: uppercase;       
    border: 2px solid $main-color;
    color: $main-color;

    transition: all 0.75s;
}

.is-link:hover {
    text-decoration: underline;
}

@media #{$breakpoint} {
   .is-button-dark:hover{
    background-color: $secondary-background !important;
    color: #fff !important;

    transition: all 0.75s;
    } 

    .is-navlink:hover {
        color: $secondary-background;
        border: none;
    }
}