* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font: {
        family: $main-font-family;
        size: $main-font-size;
    }
}

body {
    overflow-x: hidden;
}

@media #{$breakpoint} {
    body {
        overflow-x: unset;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}